<div id='page'>
  <script>
    Handlebars.write('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    {{!--CONTENTS--}}
  </main>
  <script>
    Handlebars.write('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>