<div id='page'>
  <main>
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <div class='H1'>Footer</div>
    {{#EACH window.HBS_DATA.footer}}
      <section>
        <div class='H2'>/{{obj.path}}</div>
        <script>
          Handlebars.write('/{{obj.path}}');
        </script>
      </section>
    {{/EACH}}
  </main>
</div>