<div id='Page'>
  <main>
    <link href='/assets/css/_pub.css' rel='stylesheet'/>
    {{!--prettier-ignore--}}
    <script type="importmap">
      // CDN import
      {
        "imports": {
          "three": "https://unpkg.com/three@0.138.3/build/three.module.js",
          "GLTFLoader":
          "https://unpkg.com/three@0.141.0/examples/jsm/loaders/GLTFLoader.js"
        }
      }
    </script>
    {{!--prettier-ignore--}}
    <script type="module">
      import * as THREE from 'threejs';
    </script>
    <div class='H1 Sticky Top'>threejs</div>
    <section>
      <canvas id="canvas"></canvas>
    </section>
  </main>
</div>