<div id='Page'>
  <main>
    <div class="H1">Fixed & Sticky</div>
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <section>
      <img src='https://gifpng.com/560x1315/ffd4d4/ff4444' alt='' />
    </section>
    <section style='position:sticky; top:0;'>
      <div style='background-color:#fff980;'>CSS sticky</div>
    </section>
    <section>
      <img src='https://gifpng.com/560x1315/ffd4d4/ff4444' alt='' />
    </section>
  </main>
  <footer>
    <div class='FixedBox'>
      <div class='FixedShell Bottom'>
        <footer class='Footer_1-a'>
          <div style='background-color:#00b2ff;'>JS sticky Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
        </footer>
      </div>
    </div>
  </footer>
</div>