<div id='page'>
  <main>
    <link href='/assets/css/sitemap.css' rel='stylesheet' />
    <div id='Sitemap'>
      <div class='H1'>SiteMap</div>
      <br />
      <ul>
        {{#EACH window.MENU_DATA}}
          <li>
            {{!--prettier-ignore--}}
            <script>
              Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{JSONSTR obj}});
            </script>
            {{#if obj.자식}}
              <ul>
                {{#EACH obj.자식}}
                  <li>
                    {{!--prettier-ignore--}}
                    <script>
                      Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{JSONSTR obj}});
                    </script>
                    {{#if obj.자식}}
                      <ul>
                        {{#EACH obj.자식}}
                          <li>
                            {{!--prettier-ignore--}}
                            <script>
                              Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{JSONSTR obj}});
                            </script>
                          </li>
                        {{/EACH}}
                      </ul>
                    {{/if}}
                  </li>
                {{/EACH}}
              </ul>
            {{/if}}
          </li>
        {{/EACH}}
      </ul>
    </div>
  </main>
  <script src='/assets/js/sitemap.js'></script>
</div>