<div id='page'>
  <main>
    {{!--prettier-ignore--}}
    <style>
      main > section{
        margin-top:50px;
        margin-bottom:50px;
      }
    </style>
    <div class='H1'>autoComplete.js Guide</div>
    <section>
      <div class='HBox'>
        <div class='Inner'>
          <script>Include('/hbs/component/AutoCompleteBox_1-a.hbs');</script>
        </div>
      </div>
    </section>
  </main>
</div>