<div id='Page'>
  <main>
    <link href='/assets/css/sitemap.css' rel='stylesheet'/>
    <div class='H1'>SiteMap</div>
    <div id='SiteMapWrap'></div>
    {{!--prettier-ignore--}}
    <script>
      // 엑셀 파일 읽어서 핸들바 렌더링
      Handlebars.xlsxToJSON('/MENU_DATA.xlsx', (response) => {
        Handlebars.html('#SiteMapWrap', '/hbs/etc/SiteMapWrap.hbs', response);
      });
    </script>
    <section>
      <div id='Sitemap'>
        <br/>
        <ul>
          {{#EACH window.MENU_DATA}}
            <li>
              {{!--prettier-ignore--}}
              <script>
                Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{objectToJsonStr obj}});
              </script>
              {{#if obj.자식}}
                <ul>
                  {{#EACH obj.자식}}
                    <li>
                      {{!--prettier-ignore--}}
                      <script>
                        Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{objectToJsonStr obj}});
                      </script>
                      {{#if obj.자식}}
                        <ul>
                          {{#EACH obj.자식}}
                            <li>
                              {{!--prettier-ignore--}}
                              <script>
                                Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{objectToJsonStr obj}});
                              </script>
                              {{#if obj.자식}}
                                <ul>
                                  {{#EACH obj.자식}}
                                    <li>
                                      {{!--prettier-ignore--}}
                                      <script>
                                        Handlebars.write('/hbs/etc/SitemapItem_1-a.hbs', {{objectToJsonStr obj}});
                                      </script>
                                    </li>
                                  {{/EACH}}
                                </ul>
                              {{/if}}
                            </li>
                          {{/EACH}}
                        </ul>
                      {{/if}}
                    </li>
                  {{/EACH}}
                </ul>
              {{/if}}
            </li>
          {{/EACH}}
        </ul>
      </div>
    </section>
  </main>
  <script src='/assets/js/sitemap.js'></script>
</div>