<div id='Page'>
  <main>
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <div class='H1 Sticky Top'>Dropdown</div>
    {{#EACH window.HBS_DATA.dropdown}}
      <section>
        <div class='H3'>
          <input style='display:inline-block; width:100%; outline:none; border:none;' readonly type='text' value='{{obj.path}}' onclick='this.select();' />
        </div>
        <br />
        <script>Handlebars.write('{{obj.path}}');</script>
      </section>
    {{/EACH}}
  </main>
</div>