<div id='page'>
  <main>
    <main>
      {{!--prettier-ignore--}}
      <style>
        html{
          background-color:#ffffd4;
        }
        main > section{
          margin-top:50px;
          margin-bottom:50px;
        }
      </style>
      <div class='HBox'>
        <div class='Inner'>
          <div class='H1'>Dropdown</div>
          {{#EACH window.HBS_DATA.dropdown}}
            <section>
              <div class='H3'>
                <input style='display:inline-block; width:100%; outline:none; border:none;' readonly type='text' value='{{obj.path}}' onclick='this.select();' />
              </div>
              <br />
              <script>Handlebars.write('{{obj.path}}');</script>
            </section>
          {{/EACH}}
          {{!array: BUTTON_DATA,}}
        </div>
      </div>
    </main>
  </main>
</div>