{{!--prettier-ignore--}}
<style>
  header{opacity:0.3;}
</style>
<div id='page'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    <section>
      <img style='width:100%;' src='https://gifpng.com/1024x768/44d4d4/444444' alt='' />
    </section>
    <section class='WheelDownHScrollWrap'>
      {{!      <article class="Inner" style="opacity:0.3; z-index:10; position:fixed; top:0px; left:0px; width:100%;">}}
      <article class='Inner' style='position:sticky; top:0;'>
        <div>First Div</div>
        <div>Second Div</div>
        <div>Third Div</div>
      </article>
      <img onerror='initWheelDownHScrollWrap(this)' src='' />
    </section>
    <section>
      <img style='width:100%;' src='https://gifpng.com/1024x3024/ffd4d4/ff4444' alt='' />
    </section>
    {{!CONTENTS}}
  </main>
</div>