<div id='page'>
  {{!--prettier-ignore--}}
  <style>
    body{ overflow:hidden; }
    main{ padding-bottom:0; }
  </style>
  <main>
    <div id='FullPageSwiper' class='swiper FullPageSwiper'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide'>
          <section>
            <div class='Bg'>
              <video controlsList='nodownload' loop='loop' autoplay muted='muted' playsinline>
                <source src='/assets/video/01.mp4' type='video/mp4'/>
              </video>
            </div>
            <div class='Inner'>
              <div class='text-center' data-only-view='MO'>
                <div class='AnimateTarget'>
                  <div class='text-[#ffffff] text-[34px] font-[700] leading-[40px]'>
                    당신의 DNA에
                    <br/>
                    로그인하세요.
                  </div>
                </div>
                <div class='AnimateTarget mt-[22px]'>
                  <div class='text-[#ffffff] text-[16px] font-[400] leading-[24px]'>
                    제노플랜에서 당신의 세계를
                    <br/>
                    더 깊고, 더 넓게 탐험할 수 있습니다
                  </div>
                </div>
              </div>
              <div class='text-center' data-only-view='PC'>
                <div class='AnimateTarget'>
                  <div class='text-[#ffffff] text-[60px] font-[700] leading-[60px]'>
                    당신의 DNA에 로그인하세요.
                  </div>
                </div>
                <div class='AnimateTarget mt-[30px]'>
                  <div class='text-[#ffffff] text-[20px] font-[400] leading-[30px]'>
                    엠허브제노플랜에서 당신의 세계를 더 깊고, 더 넓게 탐험할 수 있습니다
                  </div>
                </div>
              </div>
              <div class='MouseIcon hidden pc:block'>
                <script>Include('/hbs/component/DungDung_1-a.hbs');</script>
              </div>
            </div>
          </section>
        </div>
        <div class='swiper-slide'>
          <section>
            <div class='Bg'>
              <img src='https://picsum.photos/1920/1080.jpg?random=cd192e57' alt=''/>
            </div>
            <div class='Inner'>
              <div data-only-view='MO'>
                <article>
                  <div class='AnimateTarget'>
                    <div class='text-[#ffffff] text-[30px] font-[600] leading-[38px]'>
                      엠허브제너플랜이
                      <br/>
                      든든한 동반자가
                      <br/>
                      되겠습니다.
                    </div>
                  </div>
                  <div class='AnimateTarget mt-[22px]'>
                    <div class='text-[#ffffff] text-[16px] font-[400] leading-[24px]'>
                      제노플랜의
                      <br/>
                      새로운 소식을 전해드립니다.
                    </div>
                  </div>
                </article>
              </div>
              <div data-only-view='PC'>
                <article class='w-[640px]'>
                  <div class='AnimateTarget'>
                    <div class='text-[#ffffff] text-[50px] font-[600] leading-[62px]'>
                      엠허브제너플랜이
                      <br/>
                      든든한 동반자가 되겠습니다.
                    </div>
                  </div>
                  <div class='AnimateTarget mt-[30px]'>
                    <div class='text-[#ffffff] text-[20px] font-[400] leading-[30px]'>
                      언제나 사람과 건강을 우선으로 생각하는 기업으로
                      <br/>
                      책임을 다 할 것을 약속합니다.
                    </div>
                  </div>
                </article>
              </div>
              <div class='MouseIcon hidden pc:block'>
                <script>Include('/hbs/component/DungDung_1-a.hbs');</script>
              </div>
            </div>
          </section>
        </div>
        <div class='swiper-slide FooterSlide'>
          <div class='CenterCenter bg-amber-300' style='height:var(--fullpage-footer-hei);'>
            FOOTER
          </div>
        </div>
      </div>
    </div>
    <div id='FullPageSwiper-PagenationProgressbar' class='FullPageSwiper-PagenationProgressbar hidden pc:block'></div>
  </main>
</div>
<script src="/assets/js/full_page_swiper.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', (evt) => {
    initFullPageSwiper(`#FullPageSwiper`);
  });
</script>