<div id='page'>
  {{!--prettier-ignore--}}
  <style>
    main > section{
      margin-top:50px;
      margin-bottom:50px;
    }
  </style>
  <main>
    <div class='H1'>Button</div>
    <section>
      <script>
        Handlebars.write('/hbs/button/Btn_1.hbs');
      </script>
    </section>
  </main>
</div>