<div id='page'>
  <script>
    Include('/hbs/layout/Header_1-a.hbs');
  </script>
  <main>
    <img src="https://gifpng.com/560x1315/ffd4d4/ff4444" alt=""/>
  </main>
  <script>
    Include('/hbs/layout/Footer_1-a.hbs');
  </script>
</div>