@import 'var_scss.scss';
@mixin mixinCheckBoxPublic {
  aspect-ratio: 1;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
@mixin chkSizeVariation {
  width: 18px;
  &.Sm {
    width: 12px;
  }
  &.Lg {
    width: 24px;
  }
  &.Xl {
    width: 30px;
  }
  /* $PcMinWid 이상 화면*/
  @media screen and (min-width: $PcMinWid) {
    width: 24px;
    &.Sm {
      width: 18px;
    }
    &.Lg {
      width: 30px;
    }
    &.Xl {
      width: 36px;
    }
  }
}
/**/
.Checkbox_1 {
  @include mixinCheckBoxPublic;
  @include chkSizeVariation;
  background-image: url(/assets/icon/basic/chk_1.svg);
  &:checked {
    background-image: url(/assets/icon/basic/chk_1_on.svg);
    + .LabalUi {
      color: #ff3838 !important;
    }
  }
  &[disabled] {
    background-image: url(/assets/icon/basic/chk_1_disabled.svg);
  }
}
/**/
.Checkbox_2 {
  @include mixinCheckBoxPublic;
  @include chkSizeVariation;
  background-image: url(/assets/icon/basic/chk_2.svg);
  &:checked {
    background-image: url(/assets/icon/basic/chk_2_on.svg);
    + .LabalUi {
      color: #ff3838;
    }
  }
  &[disabled] {
    background-image: url(/assets/icon/basic/chk_2_disabled.svg);
  }
}
/**/
.ToggleButton_1 {
  width: 48px;
  height: 28px;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
  background-image: url(/assets/icon/basic/toggle_1.svg);
  &:checked {
    background-image: url(/assets/icon/basic/toggle_1_on.svg);
  }
  &[disabled] {
    opacity: 0.4;
  }
}
