@import 'var_scss.scss';
.Footer_2-a {
  background: var(--gray-gray-10, #111);
  color: var(--gray-gray-5, #ddd);

  /* Regular/16 l 22 */
  font-family: 'Pretendard Variable';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.FootMenu {
  display: flex;
  > li {
    position: relative;
    display: inline-block;
  }
}

.FootMenu_2 {
  color: var(--gray-gray-1, #f9f9f9);

  /* Bold/16 l 22 */
  font-family: Pretendard Variable;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}
