@import 'var_scss.scss';
.TopActionBar_1 {
  position: relative;
  border-bottom: 1px solid var(--gray-gray-5, #ddd);
  background: #fff;

  .PageTitle {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
  }
}
/**/
.TopActionBar_2 {
  border-bottom: 1px solid #ebebeb;
  background-color: white;

  .t-7ad84641 {
    color: #ff3838;
    font-size: 16px;
    font-weight: 500;
  }

  > .Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding-left: 24px;
    padding-right: 20px;
    height: 56px;
  }

  .PageTitle {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: 500;
  }

  /**/
  .Text_1 {
    padding: 5px 10px;
    color: #4168f6;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    background: #f2f5ff;
  }
  /**/
  .Text_2 {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    background: var(--primary-cultureland-red, #ff3838);
  }
}

/**/
.TopActionBar_3 {
  border-bottom: 1px solid #ebebeb;
  background-color: white;

  > .Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding-left: 24px;
    padding-right: 20px;
    height: 56px;
  }

  .PageTitle {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: 500;
  }
}
/**/
.Aside_1 {
  overflow: hidden;
  z-index: 110;
  position: fixed;
  top: 0px;
  width: 100%;
  height: var(--vh-100);

  > .Bg {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  > .Body {
    z-index: 10;
    position: relative;
    transition: all 300ms cubic-bezier(0.33, 1, 0.68, 1);
    will-change: auto;
    left: 100vw;
  }

  left: -200vw;
  &.On {
    left: 0;

    > .Body {
      left: 0;
    }

  }
}
