@import 'var_scss.scss';
/**/
.plyr__control--overlaid{
  outline:1px dashed red;
  border-radius:0;
  background-image:url(https://gifpng.com/50x50/ffd4d4/ff4444) !important;
  background-color:transparent !important;
  width:50px !important;
  height:50px;
}
.plyr__control--overlaid > *{
  display:none;
}
/**/
.SimpleBar{
  .simplebar-scrollbar{
    &:before{
      opacity:0.2 !important;
    }
  }
  &.White{
    .simplebar-scrollbar{
      &:before{
        background-color:white;
      }
    }
  }
}
