@import 'var_scss.scss';
/**/
.FormMsg {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  &.Type1 {
    color: #9af;
  }
  &.Type2 {
    color: #f3436d;
  }
}
/**/
.FormLabel_1 {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

/**/
.TextInput_1 {
  /*fixed*/
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;

  /*dynamic*/
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;

  &.Sm {
    height: 32px;
  }

  &.Lg {
    height: 44px;
  }

  &.Xl {
    height: 52px;
  }

  /* $PcMinWid 이상 화면*/
  @media screen and (min-width: $PcMinWid) {
    /*dynamic*/
    height: 48px;

    &.Sm {
      height: 40px;
    }

    &.Lg {
      height: 52px;
    }

    &.Xl {
      height: 60px;
    }
  }

  background-color: white;
  border: 1px solid var(--form-border-color);
  padding: 0 1em;

  > input {
    display: block;
    outline: none;
    border: none;
    flex-grow: 1;
    width: 0;
    height: 100%;
    background-color: transparent;
    &::placeholder {
      color: var(--form-placeholder-color);
    }
  }

  > button {
    font-size: inherit;
    aspect-ratio: 9/16;
    min-width: 24px;
    height: 100%;
    > img {
      margin-left: auto;
      margin-right: auto;
      //width: 90%;
    }
  }

  .ResetBtn {
    visibility: hidden;
  }

  &.HasValue {
    .ResetBtn {
      visibility: visible;
    }
  }

  &.HasValue {
    border-color: #333333;
    background-color: white;
  }

  &.Focus,
  &:focus {
    border-color: #a6a6a6;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
  }
  &.Error {
    border-color: #ff3838;
    > input {
      color: #ff3838;
    }
  }
  &.Success {
    border-color: #4168f6;
  }
  &.ReadOnly {
    color: #a6a6a6;
    background-color: #e1e1e1;
    border-color: #a6a6a6;
  }
}
/**/
.TextInput_2 {
  /*fixed*/
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;

  /*dynamic*/
  height: 40px;
  font-size: 14px;
  font-weight: 500;

  &.Sm {
    height: 32px;
  }

  &.Lg {
    height: 44px;
  }

  &.Xl {
    height: 52px;
  }

  /* $PcMinWid 이상 화면*/
  @media screen and (min-width: $PcMinWid) {
    /*dynamic*/
    height: 48px;

    &.Sm {
      height: 40px;
    }

    &.Lg {
      height: 52px;
    }

    &.Xl {
      height: 60px;
    }
  }

  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 1em;
  outline: none;
  background-color: white;
  border-bottom: 1px solid var(--form-border-color);

  > input {
    display: block;
    outline: none;
    border: none;
    flex-grow: 1;
    width: 0;
    height: 100%;
    background-color: transparent;
    &::placeholder {
      color: var(--form-placeholder-color);
    }
  }

  > button {
    font-size: inherit;
    aspect-ratio: 9/16;
    min-width: 24px;
    height: 100%;
    > img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .ResetBtn {
    visibility: hidden;
  }

  &.HasValue {
    .ResetBtn {
      visibility: visible;
    }
  }

  &.HasValue {
    border-color: #333333;
    background-color: white;
  }

  &.Focus,
  &:focus {
    border-color: #a6a6a6;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
  }
  &.Error {
    border-color: #ff3838;
    > input {
      color: #ff3838;
    }
  }
  &.Success {
    border-color: #4168f6;
  }
  &.ReadOnly {
    color: #a6a6a6;
    background-color: #e1e1e1;
    border-color: #a6a6a6;
  }
}
/**/
.Textarea_1 {
  width: 100%;
  resize: vertical;
  outline: none;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  border: 1px solid var(--form-border-color);
  background-color: white;

  &::placeholder {
    color: var(--form-placeholder-color);
  }

  &.Error {
    border-color: #ff3838;
  }
}
