@import 'var_scss.scss';
/**
 * 마우스 인터렉션 상태에 따라 아이콘을 변경하는 버튼에 포함되는 믹스인
 */
@mixin imgChangeAbleBtnByState {
  .Hover {
    display: none;
  }
  .Active {
    display: none;
  }
  .Default {
    display: block;
  }

  &:hover {
    .Default {
      display: none;
    }
    .Active {
      display: none;
    }
    .Hover {
      display: block;
    }
  }

  &.On,
  &:active {
    .Default {
      display: none;
    }
    .Hover {
      display: none;
    }
    .Active {
      display: block;
    }
  }
}
/**/
.Btn_0 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 14px;
  font-weight: 500;

  color: #767676;
  &:hover {
    color: red;
  }
  &:active {
    color: blue;
  }

  @include imgChangeAbleBtnByState;
}
/**/
.Btn_1 {
  height: 52px;
  display: flex;
  padding: 0 1.25em;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #26262C;
  color: #C6C5D0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  /* $PcMinWid 이상 화면*/
  @media screen and (min-width: $PcMinWid) {
  }
}
/**/
.Btn_2 {
  height: 52px;
  display: flex;
  padding: 0 1.25em;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #5D45FF;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  /* $PcMinWid 이상 화면*/
  @media screen and (min-width: $PcMinWid) {
  }
}
