@import 'var_scss.scss';
@mixin mixinCheckBoxPublic {
  aspect-ratio: 1;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
/**/
.Checkbox_1 {
  @include mixinCheckBoxPublic;

  min-width: 18px;

  background-image: url(/assets/icon/basic/chk_1.svg);
  &:checked {
    background-image: url(/assets/icon/basic/chk_1_on.svg);
    + .LabalUi {
      color: #ff3838 !important;
    }
  }
  &[disabled] {
    background-image: url(/assets/icon/basic/chk_1_disabled.svg);
  }

  &.Style2 {
    background-image: url(/assets/icon/basic/chk_2.svg);
    &:checked {
      background-image: url(/assets/icon/basic/chk_2_on.svg);
      + .LabalUi {
        color: #ff3838;
      }
    }
    &[disabled] {
      background-image: url(/assets/icon/basic/chk_2_disabled.svg);
    }
  }
}
/**/
.Checkbox_2 {
  @include mixinCheckBoxPublic;

  min-width: 18px;

  background-image: url(/assets/icon/basic/chk_2.svg);
  &:checked {
    background-image: url(/assets/icon/basic/chk_2_on.svg);
    + .LabalUi {
      color: #ff3838;
    }
  }
  &[disabled] {
    background-image: url(/assets/icon/basic/chk_2_disabled.svg);
  }
}
/**/
.ToggleButton_1 {
  width: 48px;
  height: 28px;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;

  background-image: url(/assets/icon/basic/toggle_1.svg);
  &:checked {
    background-image: url(/assets/icon/basic/toggle_1_on.svg);
  }
  &[disabled] {
    opacity: 0.4;
  }
}
