/**/
.AutoCompleteBox_1 {
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  /* 2023-09-05 :: START :: TEST */
  .autoComplete_wrapper {
    & > ul[hidden],
    & > ul:empty {
      /*opacity:1!important;*/
      /*transform:none!important;*/
    }
  }
  /* // 2023-09-05 :: END :: TEST */
  .autoComplete_wrapper {
    position: static;
    outline: 1px dashed red;

    flex: 1;
    > input {
      width: 100%;
      height: 48px;
      border: none;
      border-radius: 0;
      background: transparent;
      padding: 0px !important;
      font-size: 14px !important;
      color: #303030 !important;
      &::placeholder {
        color: #a6a6a6 !important;
        font-size: 14px !important;
        padding: 0 !important;
      }
    }
    > ul > li {
      margin: 5px;
      padding: 10px;
    }
    .no_result {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ResultCountInfo {
      /*display:none;*/
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  button {
    outline: 1px dashed red;
    width: 30px;
  }

  .BtnRemoveInputValue {
    visibility: hidden;
  }

  &.HasValue {
    .BtnRemoveInputValue {
      visibility: visible;
    }
  }
}

/**/
.Badge_1 {
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  padding: 0px 10px;
  height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  font-size: 12px;
  font-weight: 600;
  border-color: #767676;
  color: #767676;

  &.Theme_1 {
    border-color: #4168f6;
    color: #4168f6;
  }
}
/**/
.DescBox_1 {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 12px 10px;
  font-weight: 400;
  color: var(--text-color1);
  font-size: 14px;
  line-height: 20px;
}
/**/
.DescBox_2 {
  border-radius: 6px;
  border: 1px solid var(--sub-border-2, #e1e1e1);
  background: var(--sub-backgraound, #ffffff);
  padding: 16px;

  .Txt1 {
    text-align: left;
    color: #303030;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}
/**/
.DescList_1 {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.25em;
  > li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0px;
    &:before {
      content: '-';
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      margin-right: 0.3em;
    }
    + li {
      margin-top: 0.2em;
    }
  }
}
/**/
.DescList_2 {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  > li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0px;
    &:before {
      content: '\2022';
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      margin-right: 0.3em;
    }
    + li {
      margin-top: 0.2em;
    }
  }
}
/**/
.HScrollSnapBox_1 {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  gap: 25px;
  overflow: auto;
  padding-left: var(--contents-side-padding);
  padding-right: var(--contents-side-padding);

  .BannerImg {
    > img {
      border-radius: 10px;
    }
  }
}
/**/
.BottomBtnBox_1 {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  > * {
    flex: 1;
  }

  .C-274b091b {
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }
}
/**/
.BottomNavi_1 {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 0;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-bottom: calc(3px + var(--sab, 0px));
  button {
    color: var(--text-color1);
    height: 50px;
    border-radius: 12px;
    .Icon {
      svg {
        width: 24px;
      }
    }
    .Label {
      font-size: 10px;
      font-weight: 400;
    }
    &.On {
      .Label {
        color: #ea2c2c;
        font-weight: 600;
      }
    }
  }
}
/**/
.CardList_1 {
  > ul {
    overflow: auto;
    padding-left: var(--contents-side-padding);
    padding-right: var(--contents-side-padding);
    display: inline-flex;
    white-space: nowrap;
    gap: 10px;
  }
}
/**/
.ChipsList_1 {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: auto;
  padding-left: var(--contents-side-padding);
  padding-right: var(--contents-side-padding);
  button {
    color: #767676;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e1e1e1;
    &.On {
      color: white;
      border-color: #ff3838;
      background-color: #ff3838;
    }
  }
}
