@import 'var_scss.scss';
.Dropdown_1 {
  --height: 34px;
  --visible-count: 5;

  user-select: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  border: 1px solid var(--form-border-color);
  border-radius: 0.5em;
  font-size: 12px;
  font-weight: 400;

  > .Head {
    border-radius: 0.5em;
    padding: 0px 1em;
    font-size: 12px;
    color: #999;
    height: var(--height);
    display: flex;
    align-items: center;
    gap: 0px;
    outline: none;
    background-image: url(/assets/icon/basic/sel_1.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-color: white;
  }

  &[data-value] > .Head {
    color: black;
  }

  > .Body {
    border-radius: 0.5em;
    z-index: 10;
    position: absolute;
    top: calc(var(--height) + 5px);
    left: -1px;
    width: 100%;
    max-height: calc(var(--height) * var(--visible-count));
    overflow: auto;
    background-color: white;
    /**/
    border: 1px solid var(--form-border-color);
    box-sizing: content-box;
    display: none;

    &.Top {
      top: auto;
      bottom: calc(var(--height) + 5px);
    }

    > .OptionBtn {
      padding: 0px 1em;
      font-size: 12px;
      height: var(--height);
      display: flex;
      align-items: center;
      gap: 0px;
      &:hover,
      &.Selected {
        background-color: #dfdfdf;
      }
    }
  }

  &.On {
    border-color: #a6a6a6;

    > .Head {
      box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
      background-image: url(/assets/icon/basic/sel_1_on.svg);
    }

    > .Body {
      border-color: #a6a6a6;
      box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
      display: block;
    }
  }
}
