.Dropdown_1 {
  position:relative;
  width: 100%;
  border: 1px solid var(--form-border-color);
  border-radius: 0.5em;
  height: 36px;
  font-size: 12px;
  font-weight: 400;
  padding: 0px 1em;

  > select {
    outline: 1px dashed red;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
