:root {
  --form-border-color: #e1e1e1;
  --form-placeholder-color: #a6a6a6;
  --form-hei-xl: 68px;
  --form-hei-lg: 56px;
  --form-hei-md: 48px;
  --form-hei-sm: 36px;
  --form-hei-xs: 28px;
}
/**/
.TableUi1 {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 1px solid #ececec;
  &.CenterMode {
    text-align: center;
  }
  th {
    font-weight: 700;
    background-color: #ffffd4;
  }
  th,
  td {
    border: 1px solid #ececec;
    padding: 10px;
  }
}
/**/
.TextAreaUi {
  width: 100%;
  resize: vertical;
  outline: none;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  border: 1px solid var(--form-border-color);
  background-color: white;

  &::placeholder {
    color: var(--form-placeholder-color);
  }

  &.Error {
    border-color: #ff3838;
  }
}
.ToggleUi {
  width: 48px;
  height: 28px;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 300ms cubic-bezier(0.33, 1, 0.68, 1);
  will-change: auto;
  &[data-size='Lg'] {
    width: 24px;
  }
  &.Style1 {
    background-image: url(/assets/icon/basic/toggle_1.svg);
    &:checked {
      background-image: url(/assets/icon/basic/toggle_1_on.svg);
    }
    &[disabled] {
      opacity: 0.4;
    }
  }
}
