@import 'var_scss.scss';
.SelectBox_1 {
  > select {
    appearance: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    /**/
    display: flex;
    width: 100%;
    border-radius: 0.5em;
    height: 36px;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 1em;
    color: #333;
    border: 1px solid var(--form-border-color);
    background-image: url(/assets/icon/basic/sel_1.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-color:white;

    &:focus {
      border-color: #a6a6a6;
      box-shadow: 0px 0px 6px 0px rgba(166, 166, 166, 0.6);
    }

    &.HasValue {
      border-color: #333333;
      background-color: white;
    }

    &.Success {
      border-color: #4168f6;
    }

    &.Error {
      border-color: #ff3838;
      color: #ff3838;
    }

    &[disabled] {
      pointer-events: none;
      color: #a6a6a6;
      background-color: #e1e1e1;
      border-color: #a6a6a6;
    }
  }
}
