html {
  background: linear-gradient(-45deg, #ee7752, #fff980, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  height: 100vh;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 20%;
  }
}
/**/
#Sitemap {
  padding: 30px;

  li + li {
    margin-top: 4px;
  }

  > ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    /* 1280px 이상 화면*/
    @media screen and (min-width: 1280px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    > li {
      background-color: white;
      padding: 5px;
      border-radius: 5px;
      border: 2px solid black;

      a[href] {
        color: dodgerblue;
        display: block;
        border-radius: 5px;

        &:hover {
          background-color: #fbff59;
        }

        &.On {
          background-color: pink;
        }

        .PageName {
          color: #ff8352;
        }

        .Link {
          color:#25ba00;
        }
      }

      ul {
        padding-left: 20px;
      }
    }
  }
}
