html {
  background: linear-gradient(-45deg, #ee7752, #fff980, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  height: 100%;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 20%;
  }
}
#SiteMapWrap {
  border-radius: 10px;
  margin: 0 20px;
  padding: 20px;
  font-size: 14px;
  color: white;
  background-color: #333;
  border: 2px solid white;

  .Row {
    &:first-child{
      .NoLink{
        margin-top:0;
      }
    }
    > a {
      padding: 2px;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5px;

      &[href] {
        font-size:12px;
        &:hover {
          background-color: #ffffd4;
        }
        &:focus,
        &:active {
          outline: 1px dashed red;
        }
      }
    }
  }

  .PageKey {
    color: #ff8352;
  }

  .NoLink {
    margin-top: 30px;
  }

  .Link {
    color: dodgerblue;
  }

  .ExternalLink {
    color: mediumpurple;
  }
}
