<html class="Loading" lang='ko' data-env='development' data-layout='dashboard'>
<head>
  {{> layout/Head}}
  <title>{{PAGE_TITLE}}</title>
</head>
<body>
<style>
  html, body, #Page{ overflow:hidden; }
  body{ min-width:auto; }
</style>
<div id='Modal'></div>
<div id="LoadingSpinner"></div>
{{> layout/BottomRightUtil_1}}
<div id='Page' class="h-[var(--vh-100)] flex flex-col">
  {{> layout/NavBar_1}}
  <main class="flex-1 min-h-0">
    <div class="flex flex-row gap-[0] h-full">
      <div>
        {{> layout/LeftSideMenu_1}}
      </div>
      <div class="flex-1 min-w-0 h-full">
        <div class="Simplebar w-full h-full overflow-auto">
          {{{body}}}
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>


