<html class="Loading" lang='ko' data-env='development' data-layout='main'>
  <head>
    {{> layout/Head}}
    <title>{{PAGE_TITLE}}</title>
  </head>
  <body>
    <div id="ContentsRuler" class="HBox">
      <div class="RR Inner">컨텐츠 너비 줄자</div>
    </div>
    <div id='Modal'></div>
    <div id="LoadingSpinner"></div>
    {{> layout/BottomRightUtil_1}}
    {{{body}}}
  </body>
</html>