<div class='Confirm_1' style='width: 280px'>
  <div class='Body'>
    <div>
      로그인이 필요한 기능입니다.
      <br />
      지금 로그인 하시겠습니까?
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterCenter divide-x-[1px] divide-[#f4f4f4] divide-solid'>
      <button class="flex-1 h-[36px]" onclick="LayerControl.Off();">취소</button>
      <button class="flex-1 h-[36px]">로그인</button>
    </article>
  </div>
</div>