<div id='Page'>
  <main>
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <div class='H1 Sticky Top'>Font Awesome</div>
    <div class="H2"><a class="LinkBtn" href="https://fontawesome.com/search?o=r&m=free" target="_blank">https://fontawesome.com/search?o=r&m=free</a></div>
    <section>
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-house fa-spin"></i>
    </section>
  </main>
</div>