<div id='Page'>
{{!--  <link rel='stylesheet' href='/assets/lib/flatpickr_v4.6.13_dark.css' />--}}
{{!--  <link rel='stylesheet' href='/assets/lib/flatpickr_v4.6.13_material_blue.css' />--}}
{{!--  <link rel='stylesheet' href='/assets/lib/flatpickr_v4.6.13_material_green.css' />--}}
{{!--  <link rel='stylesheet' href='/assets/lib/flatpickr_v4.6.13_material_orange.css' />--}}
{{!--  <link rel='stylesheet' href='/assets/lib/flatpickr_v4.6.13_material_red.css' />--}}

  {{!--prettier-ignore--}}
  <style>
    main > section{ margin-bottom:50px; }
    main input{ border:1px solid #ddd; width:50%; }
  </style>
  <main>
    <h1 class='H1'>flatpickr</h1>
    <section>
      <h2 class='H2'>Basic</h2>
      <input id='inp-d3267227' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-d3267227`);
          flatpickr(el_inp, {});
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>DateTime</h2>
      <input id='inp-1e8273f6' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-1e8273f6`);
          flatpickr(el_inp, {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Human-friendly Dates</h2>
      <input id='inp-f30fefc3' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-f30fefc3`);
          flatpickr(el_inp, {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>minDate and maxDate</h2>
      <h3 class='H3'>minDate: "2020-01"</h3>
      <input id='inp-281b306e' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-281b306e`);
          flatpickr(el_inp, {
            minDate: "2020-01",
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>maxDate: "2023-10-30"</h3>
      <input id='inp-3b82801d' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-3b82801d`);
          flatpickr(el_inp, {
            maxDate: "2023-10-30",
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>minDate: "today", maxDate: new Date().fp_incr(14)</h3>
      <input id='inp-4f911bf1' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-4f911bf1`);
          flatpickr(el_inp, {
            minDate: "today",
            maxDate: new Date().fp_incr(14) // 14 days from now
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Disabling dates</h2>
      <h3 class='H3'>Disabling specific date</h3>
      <input id='inp-ac59b422' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-ac59b422`);
          flatpickr(el_inp, {
            disable: ["2023-10-30", "2023-10-21", "2023-10-08"],
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Disabling a date range</h3>
      <input id='inp-a1dda77c' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-a1dda77c`);
          flatpickr(el_inp, {
            disable: [
              {
                from: "2023-10-01",
                to: "2023-10-03"
              },
              {
                from: "2023-10-11",
                to: "2023-10-14"
              }
            ]
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Disabling dates by a function</h3>
      <input id='inp-89400eb6' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-89400eb6`);
          flatpickr(el_inp, {
            "disable": [
              function (date) {
                // return true to disable
                return (date.getDay() === 0 || date.getDay() === 6);

              }
            ]
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Disabling all dates except select few</h2>
      <h3 class='H3'>Enabling specific dates</h3>
      <input id='inp-9896141f' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-9896141f`);
          flatpickr(el_inp, {
            enable: ["2023-10-30", "2023-10-21", "2023-10-08"]
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Enabling range(s) of dates</h3>
      <input id='inp-3bad034d' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-3bad034d`);
          flatpickr(el_inp, {
            enable: [
              {
                from: "2023-10-10",
                to: "2023-10-13"
              },
              {
                from: "2023-10-20",
                to: "2023-10-25"
              }
            ]
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Enabling dates by a function</h3>
      <input id='inp-6b053fdc' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-6b053fdc`);
          flatpickr(el_inp, {
            enable: [
              function (date) {
                // return true to enable
                return (date.getMonth() % 2 === 0 && date.getDate() < 15);
              }
            ]
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Selecting multiple dates</h2>
      <input id='inp-c2129d34' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-c2129d34`);
          flatpickr(el_inp, {
            mode: "multiple",
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Preloading multiple dates</h3>
      <input id='inp-8f821bab' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-8f821bab`);
          flatpickr(el_inp, {
            mode: "multiple",
            defaultDate: ["2016-10-20", "2016-11-04"]
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Customizing the Conjunction</h3>
      <input id='inp-df77d710' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-df77d710`);
          flatpickr(el_inp, {
            mode: "multiple",
            conjunction: " :: "
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Range Calendar</h2>
      <input id='inp-26341835' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-26341835`);
          flatpickr(el_inp, {
            mode: "range"
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Preloading range dates</h3>
      <input id='inp-1e992f88' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-1e992f88`);
          flatpickr(el_inp, {
            mode: "range",
            dateFormat: "Y-m-d",
            defaultDate: ["2016-10-10", "2016-10-20"]
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Time Picker</h2>
      <input id='inp-9193ca72' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-9193ca72`);
          flatpickr(el_inp, {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>24-hour Time Picker</h3>
      <input id='inp-4fe994f9' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-4fe994f9`);
          flatpickr(el_inp, {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Preloading Time</h3>
      <input id='inp-06c290be' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-06c290be`);
          flatpickr(el_inp, {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            defaultDate: "13:45"
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>DateTimePicker with Limited Time Range</h2>
      <input id='inp-888a1da5' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-888a1da5`);
          flatpickr(el_inp, {
            enableTime: true,
            minTime: "09:00"
          });
        })()
      </script>
    </section>
    <section>
      <input id='inp-51bbb154' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-51bbb154`);
          flatpickr(el_inp, {
            enableTime: true,
            minTime: "16:00",
            maxTime: "22:00"
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Inline Calendar</h2>
      <input id='inp-cbdb3ce9' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-cbdb3ce9`);
          flatpickr(el_inp, {
            inline: true
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Display Week Numbers</h2>
      <input id='inp-4dfc92f5' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-4dfc92f5`);
          flatpickr(el_inp, {
            weekNumbers: true,
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>flatpickr + external elements</h2>
      <div id='inp-e30365c0' class='flatpickr'>
        <article class='CenterLeft'>
          <input type='text' data-input />
          <a class='RR input-button' title='toggle' data-toggle>
            <img src='/assets/icon/star.svg' alt='' />
          </a>
          <a class='RR input-button' title='clear' data-clear>
            <img src='/assets/icon/star.svg' alt='' />
          </a>
        </article>
      </div>
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-e30365c0`);
          flatpickr(el_inp, {
             wrap: true,
          });
        })()
      </script>
    </section>
    <section>
      <h2 class='H2'>Mobile Support</h2>
      <input id='inp-0986dc57' type='text' />
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_inp = document.querySelector(`#inp-0986dc57`);
          flatpickr(el_inp, {
            disableMobile: true,
          });
        })()
      </script>
    </section>
  </main>
</div>