<div id='Page'>
  <main>
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <h1 class='H1 Sticky Top'>Dropdown</h1>
    {{#EACH HBS_DATA.dropdown}}
      <section>
        <h2 class='H2'>{{obj.partial}}</h2>
        {{> (lookup obj 'partial')}}
      </section>
    {{/EACH}}
  </main>
</div>