<div id='Page'>
  <main>
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <h1 class='H1 Sticky Top'>Fixed & Sticky</h1>
    <section>
      <img src='https://gifpng.com/560x1315/ffd4d4/ff4444' alt='' />
    </section>
    <section class='Sticky' style='top:48px;'>
      <div style='background-color:#fff980;'>CSS sticky</div>
    </section>
    <section>
      <img src='https://gifpng.com/560x1315/ffd4d4/ff4444' alt='' />
    </section>
  </main>
  <footer class='Footer_1-a Sticky Bottom'>
    Footer
  </footer>
</div>