<div id='Page'>
  <main>
    <link href='/assets/css/pub.css' rel='stylesheet' />
    {{!--prettier-ignore--}}
    <style>
      #particles-js{
        background:#0D2C48;
        aspect-ratio:16/9;
        width:80vw;
        margin-left:auto; margin-right:auto;
      }
    </style>
    <h1 class='H1 Sticky Top'>Particles.js Guide</h1>
    <section>
      <div id='particles-js'></div>
    </section>
  </main>
</div>
<!-- https://vincentgarreau.com/particles.js/ -->
{{!--prettier-ignore--}}
<script>
  window.addEventListener('DOMContentLoaded', (evt) => {
    console.log(event);
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/assets/json/paricles.json', function () {
      console.log('callback - particles.js config loaded');
    });
  });
</script>