<div id='Page'>
  <main>
    {{!--prettier-ignore--}}
    <link href='/assets/css/_pub.css' rel='stylesheet' />
    <div class='H1 Sticky Top'>Swiper Guide</div>
    {{#EACH HBS_DATA.swiper}}
      <section>
        <div class='H2'>{{obj.partial}}</div>
        {{> (lookup obj 'partial')}}
      </section>
    {{/EACH}}
  </main>
</div>