<div id='Page'>
  <main class="RRR flex flex-row">
    <div>
      {{> layout/LeftSideMenu_1}}
    </div>
    <div class="flex-1">
      <article class="flex flex-col h-full">
        <div>
          {{> layout/NavBar_1}}
        </div>
        <div class="flex-1">
          Contents
        </div>
        <div>
          {{> layout/Footer_3}}
        </div>
      </article>
    </div>
  </main>
</div>