<style>
  html, body, #Page{ overflow:hidden; }
  body{ min-width:auto; }
</style>
<div id='Page' class="h-[var(--vh-100)] flex flex-col">
  {{> layout/NavBar_1}}
  <main class="flex-1 min-h-0">
    <div class="flex flex-row gap-[0] h-full">
      <div>
        {{> layout/LeftSideMenu_1}}
      </div>
      <div class="flex-1 min-w-0 h-full">
        <div class="Simplebar w-full h-full overflow-auto">
          <div class="RR w-[50px]">
            START
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            END
          </div>
        </div>
      </div>
    </div>
  </main>
</div>