<div id='Page'>
  {{> layout/Header_1-a}}
  <main>
    <section class="HBox">
      <div class="Inner">
        <div id="Tpl_11101448"></div>
        <script>
          Handlebars.jsonToHTML(`news_list`, `Tpl_11101448`);
        </script>
      </div>
    </section>
    <br/>
    <br/>
    <br/>
  </main>
  {{> layout/Footer_2-a}}
</div>