<div id='Page'>
  {{> layout/Header_1-a}}
  <main>
    <br/>
    <br/>
    <br/>
    <section class="HBox">
      <div class="Inner">
        <ul>
          {{#LOOP 6}}
            <li class="border-b-[1px] border-b-[#ccc]">
              <a href="#" target="_blank" class="block py-[16px]">
                <div class="RRR TopBetween gap-[0]">
                  <div class="flex-1" style="overflow:hidden; min-width:0;">
                    <div class="RR text-[#333] text-[16px] font-[700] leading-[22px] line-clamp-[2]" style="min-width:0;">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="mt-[8px] text-[#999] text-[14px] font-[400]">
                      2023.08.03
                    </div>
                  </div>
                  <div class="min-w-0">
                    <img src="https://gifpng.com/24x24" alt=""/>
                  </div>
                </div>

              </a>
            </li>
          {{/LOOP}}
        </ul>
      </div>
    </section>
    <br/>
    <br/>
    <br/>
  </main>
  {{> layout/Footer_2-a}}
</div>