<ul>
  {{#EACH DATA}}
    <li class='border-b-[1px] border-b-[#ccc]'>
      <a href='{{obj.LINK}}' target='_blank' class='block py-[16px]'>
        <div class='RRR TopBetween gap-[0]'>
          <div class='flex-1'>
            <div class='RR text-[#333] text-[16px] font-[700] leading-[22px] line-clamp-[2]'>
              {{obj.TITLE}}
            </div>
            <div class='mt-[8px] text-[#999] text-[14px] font-[400]'>
              2023.??.??
            </div>
          </div>
          <div>
            <img src='https://gifpng.com/24x24' alt='' />
          </div>
        </div>
      </a>
    </li>
  {{/EACH}}
</ul>