<div class='Tpl_sample p-[10px] bg-amber-200'>
  <div>assets/template/Tpl_sample.hbs</div>
  <ul>
    {{log 'ЁЯФ┤ Tpl_sample.hbs : 3 ==> ' this}}
    {{#EACH this}}
      <li class='border-b-[1px] border-b-[#161616]'>
        <div>ьаЬыкй : {{obj.ьаЬыкй}}</div>
        <div>ьДдыкЕ : {{obj.ьДдыкЕ}}</div>
        <div>ьЭ┤ып╕ьзА : <img src="{{obj.ьЭ┤ып╕ьзА}}" alt=""/></div>
      </li>
    {{/EACH}}
  </ul>
</div>