<div class='FixedBox'>
  <div class='FixedShell Bottom'>
    <div class='BottomBtnBox_1'>
      <button class='Button_2'>
        <div>Button_2</div>
      </button>
      <button class='Button_2'>
        <div>Button_2</div>
      </button>
    </div>
  </div>
</div>