<div id='BottomRightUtil'>
  <div class='flex flex-col gap-[10px]'>
    <button class='ScrollTopBtn bg-[#5D45FF] w-[40px] aspect-square rounded-full text-white text-[12px] font-[800]' onclick='PageScrollControl.Top()'>
      TOP
    </button>
    <button class='ScrollTopBtn bg-[#5D45FF] w-[40px] aspect-square rounded-full text-white text-[12px] font-[800]' onclick='PageScrollControl.Bottom()'>
      BTM
    </button>
  </div>
</div>