<footer class='Footer_2-a Sticky Bottom py-[40px] pc:py-[64px]'>
  <section class='HBox'>
    <div class='Inner'>
      <ul class="FootMenu">
        <li>
          <a href='#' target='_blank'>이용약관</a>
        </li>
        <li>
          <a href='#' target='_blank'>개인정보 처리방침</a>
        </li>
      </ul>
    </div>
  </section>
</footer>