<footer class='Footer_2-a py-[40px] pc:py-[64px]'>
  <section class='HBox'>
    <div class='Inner'>
      <article class="hidden pc:flex CenterBetween mb-[32px]">
        <div>
          <img class="RR" src="https://gifpng.com/186x24" alt=""/>
        </div>
        <div>
          <ul class="FootMenu_2 CenterCenter gap-[40px]">
            <li>
              <a href="#" target="_blank">Home</a>
            </li>
            <li>
              <a href="#" target="_blank">고객사례</a>
            </li>
            <li>
              <a href="#" target="_blank">회사소개</a>
            </li>
            <li>
              <a href="#" target="_blank">블로그</a>
            </li>
          </ul>
        </div>
      </article>
      <ul class='FootMenu'>
        <li>
          <a href='#' target='_blank'>이용약관</a>
        </li>
        <li>
          <div class='w-[24px] CenterCenter h-full'>
            <img src='/assets/icon/2311091629.svg' alt='' />
          </div>
        </li>
        <li>
          <a href='#' target='_blank'>개인정보 처리방침</a>
        </li>
      </ul>
      <div class='mt-[32px]'>
        <div class='text-[#ddd] text-[14px] font-[700] pc:hidden'>(주) 렛서</div>
        <address class='mt-[10px] pc:mt-[16px] text-[#ddd] text-[14px] font-[400] max-pc:space-y-[10px] pc:flex pc:flex-row pc:items-center pc:justify-start pc:gap-[0]'>
          <div>주소: 서울시 강남구 역삼로 180</div>
          <div class="hidden pc:block">
            <div class='w-[24px] CenterCenter h-full'>
              <img src='/assets/icon/2311091629.svg' alt='' />
            </div>
          </div>
          <div>사업자등록번호: 146-87-02023</div>
          <div class="hidden pc:block">
            <div class='w-[24px] CenterCenter h-full'>
              <img src='/assets/icon/2311091629.svg' alt='' />
            </div>
          </div>
          <div>대표이사: 심규현</div>
          <div class="hidden pc:block">
            <div class='w-[24px] CenterCenter h-full'>
              <img src='/assets/icon/2311091629.svg' alt='' />
            </div>
          </div>
          <div>고객문의: letsur@letsur.ai</div>
        </address>
      </div>
      <div class='mt-[16px] text-[#666] text-[14px] font-[400]'>© Copyrights by ㅇㅇㅇ. All Rights Reserved.</div>
    </div>
  </section>
</footer>