<div class="LeftSideMenu_1 w-[240px] [main.LeftSideMenuClose_&]:w-[var(--dashboard-header-hei)] bg-[#1a2942] text-[#70809a] h-full duration-300 ease-out will-change-auto">
  <a href="/" class="RR CenterCenter h-[var(--dashboard-header-hei)]">
    <img class="[main.LeftSideMenuClose_&]:hidden" src="https://gifpng.com/114x18" alt=""/>
    <img class="hidden [main.LeftSideMenuClose_&]:block" src="https://gifpng.com/32x22" alt=""/>
  </a>
  <div class="LeftSideMenuList">
    <ul>
      {{#LOOP 10}}
        <li>
          <a href="#" class="RRR flex flex-row justify-between p-[10px_24px] text-[#6e82a5] hover:text-[#7f8dff] text-[14px] font-[700]">
            <div class="flex-1 flex flex-row items-center justify-center gap-[12px] min-w-0 break-words">
              <img src="https://gifpng.com/24x24" alt=""/>
              <div class="flex-1">Menu Name {{number}}</div>
            </div>
            {{#if (IF number '==' 2)}}
              <div class="flex flex-row items-center justify-center gap-[0]">
                <img class="w-[13px]" src="/assets/icon/right_arrow.svg" alt=""/>
              </div>
            {{/if}}
          </a>
        </li>
      {{/LOOP}}
    </ul>
    <img onerror="initLeftSideMenu(this)" src=""/>
  </div>
</div>