<header class='NavBar_1 border-b-[1px] border-b-[#e5e9f2] px-[22px] bg-white h-[var(--dashboard-header-hei)]'>
  <article class="CenterBetween h-full">
    <div>
      <div class="bg-amber-300 h-[var(--dashboard-header-hei)] px-[24px] border-b-[1px] border-b-[#e5e9f2]">
        <article class="CenterLeft h-full">
          <button class='RR CenterCenter' onclick="toggleDashboardMenu()">
            <img src="/assets/icon/menu_btn.svg" alt=""/>
          </button>
          <a href="/" class="RR CenterCenter [main.LeftSideMenuClose_&]:opacity-0 ml-[12px]">
            <img src="https://gifpng.com/130x36" alt=""/>
          </a>
        </article>
      </div>
    </div>
    <div>
      <div>
        <img src="https://gifpng.com/50x50" alt=""/>
      </div>
    </div>
  </article>
</header>