<header class='NavBar_1 border-b-[1px] border-b-[#e5e9f2] p-[0_22px] bg-white h-[var(--dashboard-header-hei)]'>
  <article class="CenterBetween h-full">
    <div>
      <button class='RR CenterCenter' onclick="toggleDashboardMenu()">
        <img src="/assets/icon/menu_btn.svg" alt=""/>
      </button>
    </div>
    <div>
      <div>
        <img src="https://gifpng.com/50x50" alt=""/>
      </div>
    </div>
  </article>
</header>