<div class='SampleList'>
  <div>
    <label for='sb-da50ac98' class='FormLabel_1'>Basic</label>
    <div class='SelectBox_1'>
      <select id='sb-da50ac98'>
        <option selected disabled hidden>선택</option>
        <option value='aaa'>AAA</option>
        <option value='bbb'>BBB</option>
        <option value='ccc'>CCC</option>
      </select>
      <img onerror='initSelectBox(this);' src='' />
    </div>
  </div>
  {{!}}
  <div>
    <label for='sb-da50ac98' class='FormLabel_1'>Success</label>
    <div class='SelectBox_1'>
      <select id='sb-da50ac98' class='Success'>
        <option selected disabled hidden>선택</option>
        <option value='aaa'>AAA</option>
        <option value='bbb'>BBB</option>
        <option value='ccc'>CCC</option>
      </select>
      <img onerror='initSelectBox(this);' src='' />
    </div>
  </div>
  {{!}}
  <div>
    <label for='sb-d1cdcf37' class='FormLabel_1'>Error</label>
    <div class='SelectBox_1'>
      <select id='sb-d1cdcf37' class='Error'>
        <option selected disabled hidden>선택</option>
        <option value='aaa'>AAA</option>
        <option value='bbb'>BBB</option>
        <option value='ccc'>CCC</option>
      </select>
      <img onerror='initSelectBox(this);' src='' />
    </div>
  </div>
  {{!}}
  <div>
    <label for='sb-ed8ed546' class='FormLabel_1'>[disabled]</label>
    <div class='SelectBox_1'>
      <select id='sb-ed8ed546' disabled>
        <option selected disabled hidden>선택</option>
        <option value='aaa'>AAA</option>
        <option value='bbb'>BBB</option>
        <option value='ccc'>CCC</option>
      </select>
      <img onerror='initSelectBox(this);' src='' />
    </div>
  </div>
  {{!}}
  <div>
    <label for='sb-18320c55' class='FormLabel_1'>Selected</label>
    <div class='SelectBox_1'>
      <select id='sb-18320c55'>
        <option disabled hidden>선택</option>
        <option value='aaa'>AAA</option>
        <option value='bbb' selected>BBB</option>
        <option value='ccc'>CCC</option>
      </select>
      <img onerror='initSelectBox(this);' src='' />
    </div>
  </div>

</div>