<div class='SampleList'>
  <div>
    <label for='sb-10bf4898' class='FormLabel_1'>Basic</label>
    <div class='Dropdown_1'>
      <select id='sb-10bf4898'>
        <option selected disabled hidden>선택</option>
        <option value='aaa'>AAA</option>
        <option value='bbb'>BBB</option>
        <option value='ccc'>CCC</option>
      </select>
      <div class='Head'></div>
      <div class='Body'></div>
    </div>
  </div>
</div>