<div class='SampleList'>
  <div>
    <label class='FormLabel_1'>Basic</label>
    <div class='Dropdown_1'>
      <input type='hidden' />
      <div class='Head'>선택</div>
      <div class='Body'>
        {{#LOOP 10}}
          <div class='OptionBtn' data-value='{{number}}'>{{number}}</div>
        {{/LOOP}}
      </div>
      <img onerror='initDropdown(this);' src='' />
    </div>
  </div>
  {{!}}
  <div>
    <label class='FormLabel_1'>.Selected</label>
    <div class='Dropdown_1'>
      <input type='hidden' />
      <div class='Head'>선택</div>
      <div class='Body'>
        <div class='OptionBtn' data-value='aaa'>AAA</div>
        <div class='OptionBtn Selected' data-value='bbb'>BBB</div>
        <div class='OptionBtn' data-value='ccc'>CCC</div>
      </div>
      <img onerror='initDropdown(this);' src='' />
    </div>
  </div>
</div>