<div class='RR relative'>
  <div id='Swiper_17390142' class='swiper relative hidden [&.swiper-initialized]:block'>
    <div class='swiper-wrapper'>
      {{#LOOP 5}}
        <div class='RR swiper-slide' data-key='{{index}}'>
          <div>
            <img class='w-full' src='https://gifpng.com/560x315?text={{number}}' alt=''/>
          </div>
        </div>
      {{/LOOP}}
    </div>
    <div id='Swiper_17390142-Navigation' class='RR z-10 absolute top-[0] left-[0] left-1/2 -translate-x-1/2 pointer-events-none flex flex-row items-center justify-between gap-[0] w-full h-full bg-[rgba(0,255,0,0.3)]'>
      <div class='RR NavBtn PrevBtn translate-x-[-50%] pointer-events-auto cursor-pointer [&.Disabled]:opacity-0 [&.Disabled]:cursor-default'>
        <img class='[.NavBtn:hover>&]:hidden' src='/assets/icon/swiper/prev_btn.svg' alt=''/>
        <img class='hidden [.NavBtn:hover>&]:block' src='/assets/icon/swiper/prev_btn_hover.svg' alt=''/>
      </div>
      <div class='RR NavBtn NextBtn translate-x-[50%] pointer-events-auto cursor-pointer [&.Disabled]:opacity-0 [&.Disabled]:cursor-default'>
        <img class='[.NavBtn:hover>&]:hidden' src='/assets/icon/swiper/next_btn.svg' alt=''/>
        <img class='hidden [.NavBtn:hover>&]:block' src='/assets/icon/swiper/next_btn_hover.svg' alt=''/>
      </div>
    </div>
  </div>
  <div class=''></div>
  <div id='Swiper_17390142-PagenationProgressbar' class='RR h-[10px] bg-[gray]'></div>
  {{!--prettier-ignore--}}
  <script>
    const initSwiper_17390142 = (evt) => {
      const navigation = {
        disabledClass: 'Disabled',
        hiddenClass: 'Hidden',
        prevEl: '#Swiper_17390142-Navigation > .PrevBtn',
        nextEl: '#Swiper_17390142-Navigation > .NextBtn',
      };

      const pagination_progress = {
        el: '#Swiper_17390142-PagenationProgressbar',
        type: 'progressbar',
        modifierClass: 'Pagenation-',
        progressbarFillClass: 'FillBar',
        renderProgressbar: function (className) {
          return `<div class="${className} h-full bg-[red] origin-left"></div>`;
        },
      };

      const swiper_option = {
        slidesPerView: 1.5, // 슬라이드의 수가 slidesPerView의 값 2배 이상이어야함. slidesPerView, slidesPerGroup 함께 설정 필요.
        slidesPerGroup: 1,
        centeredSlides: true,
        spaceBetween: 10,
        loop: true,
        // loopAdditionalSlides: 1,
        navigation: navigation,
        pagination: pagination_progress,
        // autoplay: {
        //   delay: 1000,
        //   disableOnInteraction: false,
        // },
        init: false,
        // grabCursor: true,
      };

      let swiper = new Swiper('#Swiper_17390142', swiper_option);

      swiper.on('init', function () {
        // console.log('init');
        updateNavWid();
      });

      swiper.on('slideChange', function () {
        // console.log('slideChange');
      });

      swiper.on('slideChangeTransitionEnd', function () {
        // console.log('slideChangeTransitionEnd');
      });

      swiper.on('reachBeginning', function () {
        // console.log('reachBeginning');
      });

      swiper.on('reachEnd', function () {
        // console.log('reachEnd');
      });

      swiper.init();

      $(window).on(`resize`, (evt) => {
        updateNavWid();
      });

      function updateNavWid() {
        const $active_slide = $(`#Swiper_17390142 .swiper-slide-active`);
        $(`#Swiper_17390142-Navigation`).width($active_slide.width());
      }
    };

    window.addEventListener('DOMContentLoaded', initSwiper_17390142);
  </script>
</div>