<div class='RR relative w-[560px] mx-auto'>
  <div id='Swiper_7a4cc389' class='swiper relative hidden [&.swiper-initialized]:block'>
    <div class="[.isBeginning_&]:hidden z-[5] absolute top-[0] left-[0] w-[100px] h-full bg-[linear-gradient(to_right,rgba(255,50,50,1)_0%,rgba(125,185,232,0)_100%)]"></div>
    <div class="[.isEnd_&]:hidden z-[5] absolute top-[0] right-[0] w-[100px] h-full bg-[linear-gradient(to_left,rgba(255,50,50,1)_0%,rgba(125,185,232,0)_100%)]"></div>
    <div class='swiper-wrapper'>
      {{#LOOP 5}}
        <div class='RR swiper-slide' data-key='{{index}}'>
          <div>
            <img class='w-full' src='https://gifpng.com/560x315?text={{number}}' alt=''/>
          </div>
        </div>
      {{/LOOP}}
    </div>
    <div id='Swiper_7a4cc389-Navigation' class='RR z-10 absolute top-[0] left-[0] pointer-events-none flex flex-row items-center justify-between gap-[0] w-full h-full bg-[rgba(0,255,0,0.3)]'>
      <div class='RR NavBtn PrevBtn pointer-events-auto cursor-pointer [&.Disabled]:opacity-0 [&.Disabled]:cursor-default'>
        <img class='[.NavBtn:hover>&]:hidden' src='/assets/icon/swiper/prev_btn.svg' alt=''/>
        <img class='hidden [.NavBtn:hover>&]:block' src='/assets/icon/swiper/prev_btn_hover.svg' alt=''/>
      </div>
      <div class='RR NavBtn NextBtn pointer-events-auto cursor-pointer [&.Disabled]:opacity-0 [&.Disabled]:cursor-default'>
        <img class='[.NavBtn:hover>&]:hidden' src='/assets/icon/swiper/next_btn.svg' alt=''/>
        <img class='hidden [.NavBtn:hover>&]:block' src='/assets/icon/swiper/next_btn_hover.svg' alt=''/>
      </div>
    </div>
  </div>
  <div id='Swiper_7a4cc389-Pagenation' class='RR flex flex-row items-center justify-center gap-[10px]'></div>
  {{!--prettier-ignore--}}
  <script>
    const initSwiper_7a4cc389 = (evt) => {
      const loop = false;
      const navigation = {
        disabledClass: 'Disabled',
        hiddenClass: 'Hidden',
        prevEl: '#Swiper_7a4cc389-Navigation > .PrevBtn',
        nextEl: '#Swiper_7a4cc389-Navigation > .NextBtn',
      };

      const pagination = {
        el: '#Swiper_7a4cc389-Pagenation',
        type: 'bullets',
        clickable: true,
        modifierClass: 'Pagenation-',
        bulletClass: 'Dot',
        bulletActiveClass: 'On',
        renderBullet: function (index, className) {
          const num = (index + 1).toString().padStart(2, '0');
          return `
            <div class="${className} relative w-[10px] aspect-square flex flex-row items-center justify-center">
              <div class="bg-[gray] [*.On>&]:bg-[red] cursor-pointer  z-0 absolute top-[0] left-[0] w-full aspect-square rounded-full"></div>
            </div>`;
        },
      };

      const swiper_option = {
        observer: true,
        observeParents: true,
        slidesPerView: 1, // 슬라이드의 수가 slidesPerView의 값 2배 이상이어야함. slidesPerView, slidesPerGroup 함께 설정 필요.
        slidesPerGroup: 1,
        spaceBetween: 10,
        loop: loop,
        // loopAdditionalSlides: 1,
        navigation: navigation,
        pagination: pagination,
        // autoplay: {
        //   delay: 1000,
        //   disableOnInteraction: false,
        // },
        init: false,
        // grabCursor: true,
        breakpoints: {
          769: {
            slidesPerView: 1
          }
        }
      };

      let swiper = new Swiper('#Swiper_7a4cc389', swiper_option);

      swiper.on('init', function () {
        // console.log('init');
        updateSwiper();
      });

      swiper.on('slideChange', function () {
        // console.log('slideChange');
        updateSwiper();
      });

      swiper.on('slideChangeTransitionEnd', function () {
        // console.log('slideChangeTransitionEnd');
      });

      swiper.init();

      function updateSwiper() {
        // console.log(`swiper == `, swiper);
        const {isBeginning, isEnd} = swiper;
        if (isBeginning) $(`#Swiper_7a4cc389`).addClass('isBeginning');
        else $(`#Swiper_7a4cc389`).removeClass('isBeginning');

        if (isEnd) $(`#Swiper_7a4cc389`).addClass('isEnd');
        else $(`#Swiper_7a4cc389`).removeClass('isEnd');
      }
    };

    window.addEventListener('DOMContentLoaded', initSwiper_7a4cc389);
  </script>
</div>