<article class="CenterCenter">
  <button class='CenterCenter w-[24px] h-[24px]' onclick='$(this).toggleClass(`On`)'>
    <div class='w-[20px] aspect-square flex flex-col items-between justify-between gap-[0]'>
      {{#LOOP 3}}
        <span class='w-full [button.On_&:not(:nth-child(2))]:w-[calc(100%+6px)] h-[2px] bg-[#333] rounded-[2px] [&:nth-child(1)]:translate-y-[2px] [&:nth-child(3)]:translate-y-[-2px] [button.On_&:nth-child(1)]:translate-y-[0] [button.On_&:nth-child(3)]:translate-y-[0] [button.On_&:nth-child(2)]:opacity-0 duration-300 ease-out will-change-auto [button.On_&]:translate-x-[1px] [button.On_&:nth-child(1)]:rotate-[45deg] [button.On_&:nth-child(3)]:rotate-[-45deg] [button.On_&:nth-child(1)]:origin-top-left [button.On_&:nth-child(3)]:origin-bottom-left'></span>
      {{/LOOP}}
    </div>
  </button>
</article>

