<div class='MoreViewList_1' data-current="3">
  <ul>
    {{#LOOP 10}}
      <li class='hidden [&.On]:flex CenterLeft gap-[10px]'>
        <div>{{number}}</div>
        <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </li>
    {{/LOOP}}
  </ul>
  <button class="MoreViewBtn Btn_1 w-full">More</button>
  <img onerror="initMoreViewList(this)" src=""/>
</div>