<div class="CenterLeft">
  <div>
    99
    <img onerror="initNumberAniBox(this)" src=""/>
  </div>
  <div>%</div>
</div>
<div class="CenterLeft">
  <div>
    10000
    <img onerror="initNumberAniBox(this)" src=""/>
  </div>
  <div>%</div>
</div>