<div class='TabBar_1'>
  {{#LOOP 3}}
    <button class='TabButton {{ON 0}}'>
      <img class='hidden [.On>&]:block' src='/assets/icon/new.svg' alt='' />
      {{number}}
    </button>
  {{/LOOP}}
  <img onerror="initTabChildControl(this, '665c3725')" src=""/>
</div>
<div class="TabChildList" data-id="665c3725">
  {{#LOOP 3}}
    <div class="TabChild {{ON 0}}">
      TabChild {{number}}
    </div>
  {{/LOOP}}
</div>