<table>
  <thead>
    <tr>
      <th>KEY</th>
      <th>1뎁스</th>
      <th>2뎁스</th>
      <th>3뎁스</th>
    </tr>
  </thead>
  <tbody>
    {{#EACH this}}
      <tr>
        <td>
          <div class="PageKey">{{obj.PAGE_KEY}}</div>
        </td>
        {{SITEMAP_MENU_TD obj}}
      </tr>
    {{/EACH}}
  </tbody>
</table>