{{#if 페이지명}}
  <a href='/index.html?page={{페이지명}}' target='_blank'>
    <span class='PageName'>[{{페이지명}}]</span>
    <span class='Label'>{{라벨}}</span>
  </a>
{{else if 링크}}
  <a href='{{링크}}' target='_blank'>
    <span class='Label'>{{라벨}}</span>
    <span class='Link'>[{{링크}}]</span>
  </a>
{{else}}
  <div>
    {{라벨}}
  </div>
{{/if}}