<div class='SampleList p-[10px]'>
  <div>
    <label class='FormLabel_1'>Basic</label>
    <article class='flex flex-col pc:grid pc:grid-cols-[repeat(auto-fit,minmax(0,1fr))] pc:items-center pc:justify-center gap-[10px] bg-white border-solid border-[1px] border-[#000] p-[10px]'>
      {{#EACH (ARR 'Xl|Lg||SM')}}
        <div class='flex-1'>
          <div class='TextInput_2 w-full {{obj}}'>
            <input placeholder='placeholder {{obj}}' />
            <img onerror='initInputUi(this)' src='' alt='' />
          </div>
        </div>
      {{/EACH}}
    </article>
  </div>
  <div>
    <label class='FormLabel_1'>.Success</label>
    <div class='TextInput_2 Success w-full'>
      <input placeholder='placeholder' value='Success Value' />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label class='FormLabel_1'>.Error</label>
    <div class='TextInput_2 Error w-full'>
      <input placeholder='placeholder' value='Error Value' />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label class='FormLabel_1'>.ReadOnly [readonly]</label>
    <div class='TextInput_2 ReadOnly w-full'>
      <input placeholder='placeholder' value='ReadOnly Value' readonly onclick='this.select();' />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label class='FormLabel_1'>Reset Button</label>
    <div class='TextInput_2 w-full'>
      <input placeholder='placeholder' />
      <button class='ResetBtn'>
        <img src='/assets/icon/input_delete.svg' alt='' />
      </button>
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label class='FormLabel_1'>Search Button</label>
    <div class='TextInput_2 w-full'>
      <input placeholder='placeholder' />
      <button class='ResetBtn'>
        <img src='/assets/icon/input_delete.svg' alt='' />
      </button>
      <button class='Search'>
        <img src='/assets/icon/input_search.svg' alt='' />
      </button>
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label class='FormLabel_1'>EyeBtn Button</label>
    <div class='TextInput_2 w-full'>
      <input type='password' placeholder='placeholder' />
      <button class='ResetBtn'>
        <img src='/assets/icon/input_delete.svg' alt='' />
      </button>
      <button class='EyeBtn'>
        <img class="[input[type='text']~button>&]:hidden" src='/assets/icon/eye.svg' alt='' />
        <img class="[input[type='password']~button>&]:hidden" src='/assets/icon/eye_on.svg' alt='' />
      </button>
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
</div>