<div class='TopActionBar_1'>
  <div class='Inner'>
    <div class='LeftArea'>
      <button>
        <img src='/assets/icon/star.svg' alt='' />
      </button>
    </div>
    <div class='RightArea'>
      <article class='CenterCenter' style='gap: 10px'>
        <button>
          <img src='/assets/icon/star.svg' alt='' />
        </button>
        <button>
          <img src='/assets/icon/star.svg' alt='' />
        </button>
      </article>
    </div>
  </div>
  <div class='PageTitle CenterCenter'>
    TITLE
  </div>
</div>