<div class='SampleList'>
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/2307091813.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
        </article>
      </div>
      <div>
        {{!}}
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/2307091813.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
        </article>
      </div>
      <div>
        <button>
          <img src='/assets/icon/2307091814.svg' alt='' />
        </button>
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/2307091813.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
        </article>
      </div>
      <div>
        <button>
          <span class='t-7ad84641'>추가</span>
        </button>
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/2307091813.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
          <div class='Text_1' style='margin-left:5px;'>Text_1</div>
          <div class='Text_2' style='margin-left:5px;'>Text_2</div>
        </article>
      </div>
      <div>
        <button>
          <img style='width:24px;' src='/assets/icon/empty.svg' alt='' />
        </button>
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article class='PageTitle'>
          TITLE
        </article>
      </div>
      <div>
        <button>
          <div style='width: 24px;'>
            <img src='/assets/icon/2307251357.svg' alt='' />
          </div>
        </button>
      </div>
    </article>
  </div>
</div>