<div class='SampleList'>
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img class="RR" src='/assets/icon/back_btn.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
        </article>
      </div>
      <div>
        {{!}}
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/back_btn.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
        </article>
      </div>
      <div>
        <button>
          <img class="RR" src='https://gifpng.com/24x24/ffd4d4/ff4444' alt='' />
        </button>
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/back_btn.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
        </article>
      </div>
      <div>
        <button>
          <span class='t-7ad84641'>추가</span>
        </button>
      </div>
    </article>
  </div>
  {{!}}
  <div class='TopActionBar_2'>
    <article class='Inner'>
      <div>
        <article style='display: flex; align-items: center; gap: 0px'>
          <button>
            <img src='/assets/icon/back_btn.svg' alt='' />
          </button>
          <div class='PageTitle' style='margin-left: 8px;'>
            TITLE
          </div>
          <div class='Text_1' style='margin-left:5px;'>Text_1</div>
          <div class='Text_2' style='margin-left:5px;'>Text_2</div>
        </article>
      </div>
      <div>
        <button>
          <img style='width:24px;' src='/assets/icon/empty.svg' alt='' />
        </button>
      </div>
    </article>
  </div>
</div>