<div class='TopActionBar_3'>
  <article class='Inner'>
    <div>
      <article class='PageTitle'>
        TITLE
      </article>
    </div>
    <div>
      <button>
        <div style='width: 24px;'>
          <img src='/assets/icon/2307251357.svg' alt='' />
        </div>
      </button>
    </div>
  </article>
</div>