.TopActionBar_2 {
  border-bottom: 1px solid #ebebeb;
  background-color: white;

  .t-7ad84641 {
    color: #ff3838;
    font-size: 16px;
    font-weight: 500;
  }

  > .Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding-left: 24px;
    padding-right: 20px;
    height: 56px;
  }

  .PageTitle {
    color: var(--text-color1);
    font-size: 16px;
    font-weight: 500;
  }

  /**/
  .C-54342972 {
    padding: 5px 10px;
    color: #4168f6;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    background: #f2f5ff;
  }
  /**/
  .C-00822b2f {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    background: var(--primary-cultureland-red, #ff3838);
  }
}
