<div class='TopActionBar_1'>
  <div class="Sec0">
    <div class="LeftArea">
      <button>
        <img src='/assets/icon/2307180855.svg' alt='' />
      </button>
    </div>
    <div class="RightArea">
      <article class='CenterCenter' style='gap: 10px'>
        <button>
          <img src='/assets/icon/2307101050.svg' alt='' />
        </button>
        <button>
          <img src='/assets/icon/2307181349.svg' alt='' />
        </button>
      </article>
    </div>
  </div>
  <div class='PageTitle CenterCenter'>
    TITLE
  </div>
</div>