<div class='TopActionBar_2'>
  <article class="Inner">
    <div>
      <article style='display: flex; align-items: center; gap: 0px'>
        <button>
          <img src='/assets/icon/2307091813.svg' alt='' />
        </button>
        <div class='PageTitle' style='margin-left: 8px;'>
          TITLE
        </div>
        <div class="C-54342972" style="margin-left:5px;">판매자</div>
        <div class="C-00822b2f" style="margin-left:5px;">구매자</div>
      </article>
    </div>
    <div>
      <button>
        <img style="width:24px;" src="/assets/icon/empty.svg" alt=""/>
      </button>
    </div>
  </article>
</div>