<div class='SampleList'>
  <div class='AlertBox_1'>
    <div class='CenterCenter'>
      <div class='Badge_1 Style1'>
        Badge
      </div>
      <div style='margin-left: 6px;'>
        Lorem Ipsum is simply dummy
      </div>
    </div>
  </div>
</div>