<div class='AutoCompleteBox AutoCompleteBox_1'>
  <input id='autoComplete' type='text' dir='ltr' spellcheck='false' autocorrect='off' autocomplete='off' autocapitalize='off' maxlength='2048' tabindex='1'/>
  <button class="BtnRemoveInputValue">
    <img src='/assets/lib/autoComplete/css/images/2309051332.svg' alt='검색어 삭제'/>
  </button>
  <button class="BtnGoSearch">
    <img src='/assets/lib/autoComplete/css/images/2309051002.svg' alt='검색'/>
  </button>
  <img onerror='initAutoCompleteBox(`#autoComplete`)' src=''/>
</div>