<div class='FixedBox'>
  <div class='FixedShell Bottom'>
    <div class='BottomBtnBox_1'>
      {{#if btns}}
        {{#EACH btns}}
          <button class='ButtonUi Style{{obj.style}}' data-form-hei='Md' {{#if obj.disabled}}disabled{{/if}}>{{obj.label}}</button>
        {{/EACH}}
      {{else}}
        <button class='ButtonUi Style2' data-form-hei='Md'>Button.Style2</button>
        <button class='ButtonUi Style1' data-form-hei='Md'>Button.Style1</button>
      {{/if}}
    </div>
  </div>
</div>