<div class='CardList_1'>
  <ul class="HideScroll HScrollSnapBox" style="scroll-padding-left:var(--contents-side-padding);">
    {{#LOOP 5}}
      <li>
        <div style="position:relative;">
          <img src='https://gifpng.com/196x109/303030/ff4444' alt='' />
          <div class="CenterCenter" style="z-index:10; position:absolute; top:6px; right:6px; width:24px; aspect-ratio:1/1;">
            <input class="CheckBoxUi Style2" type="checkbox" {{ON 0 'checked'}}>
          </div>
        </div>
      </li>
    {{/LOOP}}
    <li>
      <button>
        <img src='https://gifpng.com/196x109/ffd4d4/ff4444' alt='' />
      </button>
    </li>
  </ul>
</div>