<div class='ChatRoomList_1'>
  <ul class='divide-y-solid divide-[#ebebeb] divide-y-[1px] ' style='border-left-style:none;'>
    <li>
      <script>Include('/hbs/component/ChatRoomItem_1-a.hbs', {target_name:'cultureland', type1:'판매자',preview:'새 메세지가 도착했습니다.', new_icon:true, right_open:true});</script>
    </li>
    <li>
      <script>Include('/hbs/component/ChatRoomItem_1-a.hbs', {target_name:'cultureland', type1:'판매자'});</script>
    </li>
    <li>
      <script>Include('/hbs/component/ChatRoomItem_1-a.hbs', {target_name:'cultureland', type2:'구매자',preview:'새 메세지가 도착했습니다.', new_icon:true});</script>
    </li>
  </ul>
</div>