<div class='ChatBoxWrap_1'>
  <article class='ChatBox_1 My'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        해당 상품의 환불을 요청했습니다.
      </div>
      <div class='C-2bfcbe05' style='margin-top:16px;'>
        <span class='Color1'>환불사유</span>
        : 매장에서 사용이 안됩니다. 환불해주세요.
      </div>
      <ul class='Ul_2' style='margin-top:16px;'>
        <li>판매자에게 환불을 요청했습니다.</li>
      </ul>
    </div>
  </article>
  {{!}}
  <article class='ChatBox_1 My'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        환불 요청 안내사항
      </div>
      <ul class='Ul_2' style='margin-top:16px;'>
        <li>단순변심에 의한 환불의 경우 해당 서비스 정책상 환불이 불가합니다.</li>
      </ul>
      <div style='margin-top:25px;'>
        <strong>※ 해당 내용을 확인하신 후 동의하신 경우에만 환불 요청이 진행됩니다※</strong>
      </div>
      <div style='margin-top:10px;'>
        <button class='ButtonUi Style1 w-full' data-form-hei='Sm'>동의합니다</button>
      </div>
      <div style='margin-top:10px;'>
        <button class='ButtonUi Style2 w-full' data-form-hei='Sm'>
          동의완료
        </button>
      </div>
    </div>
  </article>
  {{!}}
  <article class='ChatBox_1 Other'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        Cultureland 님이 해당 상품의 환불 요청을 거부했습니다.
      </div>
      <div class='C-2bfcbe05' style='margin-top:16px;'>
        <span class='Color1'>환불사유</span>
        : 매장에서 사용이 안됩니다. 환불해주세요.
      </div>
      <ul class='Ul_2' style='margin-top:16px;'>
        <li>대금 정산이 보류되었습니다.</li>
      </ul>
      <article class='CenterCenter' style='gap:7px; margin-top:11px;'>
        <button class='ButtonUi Style4' data-form-hei='Sm' style='flex:1;'>환불거부</button>
        <button class='ButtonUi Style1' data-form-hei='Sm' style='flex:1;'>환불수락</button>
      </article>
    </div>
  </article>
  {{!}}
  <article class='ChatBox_1 My'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <div class='C-e906e752'>
        환불 거부 사유를 적어주세요.
        <span class='Color1'>(필수)</span>
      </div>
      <div class='InputUi Style1 w-full Error' data-form-hei='Sm' style='margin-top:10px;'>
        <input placeholder='내용을 입력해 주세요. (최대 30자)' />
        <img onerror="initInputUi(this)" src="" alt=""/>
      </div>
      <div class='ErrorTxt_1' style='margin-top:10px;'>
        환불사유를 기재해 주세요.
      </div>
      <ul class='Ul_2' style='margin-top:10px;'>
        <li>상품 관련하여 합의완료 시 까지 환불 및 판매대금 지급은 보류됩니다.</li>
      </ul>
      <div style='margin-top:10px;'>
        <button class='ButtonUi Style1 w-full' data-form-hei='Sm'>보내기</button>
      </div>
    </div>
  </article>
  {{!}}
  <article class='ChatBox_1 My'>
    <div class='DateArea'>
      <div class='C-96ae219a'>
        2023-07-11 09:08:45
      </div>
    </div>
    <div class='ContentsArea'>
      <img src="https://gifpng.com/130x130/ffd4d4/ff4444" alt=""/>
    </div>
  </article>
</div>