<div class='DescBox_2'>
  <div class="Txt1">
    <p>▶ Lorem Ipsum is simply.</p>
    <ul class="DescList_1">
      <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
      <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
    </ul>
    <br/>
    <p>▶ Lorem Ipsum is simply.</p>
    <ul class="DescList_2">
      <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
      <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
    </ul>
  </div>
</div>