.EmptyList_1 {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  color: #767676;
  line-height: 20px;

  .Txt1 {
    font-size: 14px;
    font-weight: 600;
  }

  .Txt2 {
    font-size: 12px;
    font-weight: 400;
  }
}
