<div class='SampleList'>
  <div class='EmptyList_1'>
    <article class='CenterCenter' style='flex-direction:column'>
      <div>
        <img src='/assets/icon/2307231218.svg' alt='' />
      </div>
      <div class='Txt1' style='margin-top:17px;'>
        판매중인 상품이 없습니다.
      </div>
      <div class='Txt2' style='margin-top:12px;'>
        관심상품으로 등록하시면 상품이 들어올 때
        <br />
        알림을 받아보실 수 있습니다.
      </div>
    </article>
  </div>
</div>