<div class='FilterBtnBox_1 CenterCenter' style="gap:5px;">
  {{#EACH (ARR 'Button|Button|Button|Button')}}
    <button style="flex:1;" class="ButtonUi Style4 {{ON 0}}" data-form-hei="Xs">{{obj}}</button>
  {{/EACH}}
</div>