<div class="HScrollGradientBox_1">
  <div class="Track">
    <div style="white-space: nowrap; font-size: 16px">
      봄이 벌써 불러 가을로 까닭입니다. 걱정도 불러 계절이 이국 패, 없이 듯합니다. 하나에 별이 써 피어나듯이 마디씩 밤을
      너무나 그리고 계십니다. 별 겨울이 나의 별 가난한 버리었습니다. 언덕 헤는 무덤 있습니다.
    </div>
  </div>
  <img onerror="initHScrollGradientBox(this)" src="" alt=""/>
</div>
