<div class='LinkList_1'>
  <ul>
    {{#LOOP 3}}
      <li>
        <a href='https://www.google.com' target='_blank'>
          <div>
            Lorem Ipsum {{number}}
          </div>
          <div>
            <img src="https://gifpng.com/24x24/ffd4d4/ff4444" alt=""/>
          </div>
        </a>
      </li>
    {{/LOOP}}
  </ul>
</div>