<div class='LinkList_1'>
  <ul>
    {{#LOOP 3}}
      <li>
        <a href='https://www.google.com' target='_blank'>
          <div>
            Lorem Ipsum {{number}}
          </div>
          <div>
            <img src="/assets/icon/2307292252.svg" alt=""/>
          </div>
        </a>
      </li>
    {{/LOOP}}
  </ul>
</div>