<div class='NotiItemList_1'>
  <ul class='space-y-[16px]'>
    {{#LOOP 3}}
      <li class=''>
        <script>Include('/hbs/component/NotiItem_1-a.hbs');</script>
      </li>
    {{/LOOP}}
  </ul>
  <script>Include('/hbs/component/MoreBtn_1-a.hbs');</script>
</div>