<div class='NotiItem_1'>
  <article class='CenterBetween'>
    <div style='flex:1; padding-right:15px;'>
      <div class='Txt1'>2023-05-07</div>
      <div class='Txt2' style='margin-top:8px;'>Lorem Ipsum</div>
      <div class='Txt3' style='margin-top:10px;'>
        Lorem Ipsum is
        <strong>simply dummy</strong>
        text of the
        <strong>printing and</strong>
        typesetting industry.
      </div>
    </div>
    <div style='min-width:40px;'>
      <img src='/assets/icon/2307251329.svg' alt='' />
    </div>
  </article>
</div>