<div class='OptionBox_1'>
  <article class='CenterBetween'>
    <div style="flex:1; padding-right:10px;">
      <div style='color:#303030; font-size:14px; font-weight:600;'>
        Lorem Ipsum is simply
      </div>
      <div style='margin-top:10px; color:#767676; font-size:12px; font-weight:400; line-height:20px;'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </div>
    </div>
    <div style="min-width:48px;">
      <input class='ToggleUi Style1' type='checkbox' {{ON 0 'checked'}}/>
    </div>
  </article>
</div>