<div class='TabBar_1'>
  {{#EACH (ARR '1|2|3')}}
    <button class='{{ON 0}}'>
      <img class='hidden [.On>&]:block' src='/assets/icon/new.svg' alt=''/>
      {{obj}}
    </button>
  {{/EACH}}
</div>