<div class='FixedBox'>
  <div class='FixedShell Bottom'>
    <div class='ToastMsg_1'>
        <img src="https://gifpng.com/24x24/ffd4d4/ff4444" alt=""/>
        광고 메세지를 입력해주세요.
    </div>
  </div>
</div>