<div class='TopActionBar_2'>
  <article class='Inner'>
    <div>
      <article style='display: flex; align-items: center; gap: 0px'>
        <button>
          <img src='/assets/icon/2307091813.svg' alt='' />
        </button>
        <div class='PageTitle' style='margin-left: 8px;'>
          TITLE
        </div>
      </article>
    </div>
    <div>
      {{!}}
    </div>
  </article>
</div>