<div class='SampleList'>
  <div class='CenterLeft bg-white'>
    <input class='RadioButton_1' type='radio' />
  </div>
  <div class='CenterLeft bg-white'>
    <input class='RadioButton_1' type='radio' disabled/>
  </div>
  <div class='CenterLeft bg-white'>
    <input class='RadioButton_1 w-[24px]' type='radio' />
  </div>
  <div class='CenterLeft bg-white'>
    <label class='FormLabelBox'>
      <input class='RadioButton_1' type='radio' />
      <div class='text-[#161616] text-[12px] font-[400]'>로그인 상태 유지</div>
    </label>
  </div>
  <div class='CenterLeft bg-white'>
    <label class='FormLabelBox'>
      <input class='RadioButton_1 w-[24px]' type='radio' />
      <div class='text-[#161616] text-[14px] font-[400]'>로그인 상태 유지</div>
    </label>
  </div>
</div>