<div class='SampleList'>
  <div class='CenterLeft bg-white'>
    <input class='ToggleButton_1' type='checkbox' />
  </div>
  <div class='CenterLeft bg-white'>
    <input class='ToggleButton_1' type='checkbox' disabled />
  </div>
</div>