<div class='Alert_1' style='width: 280px'>
  <div class='Body'>
    <div>
      로그인이 필요한 기능입니다.
      <br />
      지금 로그인 하시겠습니까?
    </div>
  </div>
  <div class='Foot'>
    <article class='CenterRight' style='gap: 10px'>
      <button class='ButtonUi Style3' data-form-hei='Sm' style='flex: 1'>취소</button>
      <button class='ButtonUi Style1' data-form-hei='Sm' style='width: 144px'>로그인</button>
    </article>
  </div>
</div>