<div class='TopActionBar_1 h-[56px] pc:h-[88px]'>
  <section class='HBox h-full'>
    <div class='Inner h-full'>
      <article class='CenterBetween h-full'>
        <div>
          <a href='/' class='block RR'>
            <img src='https://gifpng.com/140x18' alt='' />
          </a>
        </div>
        <div>
          <article class='CenterCenter' style='gap: 10px'>
            <button class='RR'>
              <img src='/assets/icon/menu_btn.svg' alt='' />
            </button>
          </article>
        </div>
      </article>
    </div>
  </section>
</div>