<div class="SampleList">
  <button class='Btn_2'>
    <div>아이콘 1개</div>
    <img src='/assets/icon/2307171331.svg' alt='' />
  </button>
  <button class='Btn_2'>
    2가지 아이콘
    <img class='Default Hover' src='/assets/icon/warn.svg' alt='' />
    <img class='Active' src='/assets/icon/wran_active.svg' alt='' />
  </button>
  <button class='Btn_2'>
    3가지 아이콘
    <img class='Default' src='/assets/icon/warn.svg' alt='' />
    <img class='Hover' src='/assets/icon/warn_hover.svg' alt='' />
    <img class='Active' src='/assets/icon/wran_active.svg' alt='' />
  </button>
</div>