<div class='SampleList'>
  <div>
    <label for='inp-7a4ef7ba' class='FormLabel_1'>Basic</label>
    <div id='inp-7a4ef7ba' class='TextInput_1 w-full'>
      <input placeholder='placeholder' />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label for='inp-2fccfe83' class='FormLabel_1'>Success</label>
    <div id="inp-2fccfe83" class='TextInput_1 Success w-full'>
      <input placeholder='placeholder' value='Success Value' />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label for='inp-195aff67' class='FormLabel_1'>Error</label>
    <div id="inp-195aff67" class='TextInput_1 Error w-full'>
      <input placeholder='placeholder' value='Error Value' />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label for='inp-d1511a20' class='FormLabel_1'>ReadOnly</label>
    <div id="inp-d1511a20" class='TextInput_1 ReadOnly w-full'>
      <input placeholder='placeholder' value='ReadOnly Value' readonly onclick="this.select();" />
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label for='inp-56175af6' class='FormLabel_1'>Reset Button</label>
    <div id='inp-56175af6' class='TextInput_1 w-full'>
      <input placeholder='placeholder' />
      <button class="ResetBtn">
        <img src="/assets/icon/input_delete.svg" alt=""/>
      </button>
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
  <div>
    <label for='inp-56175af6' class='FormLabel_1'>Search Button</label>
    <div id='inp-56175af6' class='TextInput_1 w-full'>
      <input placeholder='placeholder' />
      <button class="ResetBtn">
        <img src="/assets/icon/input_delete.svg" alt=""/>
      </button>
      <button class="Search">
        <img src="/assets/icon/input_search.svg" alt=""/>
      </button>
      <img onerror='initInputUi(this)' src='' alt='' />
    </div>
  </div>
</div>