<div class='FixedBox'>
  <div class='FixedShell Bottom'>
    <footer class='Footer_1-a'>
      <section data-seq='20230808135355418'>
        <script>Include('/hbs/component/BottomNavi_1-a.hbs');</script>
      </section>
    </footer>
  </div>
</div>
{{!
<footer data-only-view="MO" class="RR">
  <div style="height: var(--footer-hei); display: flex; align-items: center; justify-content: center; gap: 0px">
    MO Footer
  </div>
</footer>
<footer data-only-view="PC" class="RR">
  <div style="height: var(--footer-hei); display: flex; align-items: center; justify-content: center; gap: 0px">
    PC Footer
  </div>
</footer>
}}