<div class='FixedBox'>
  <div class='FixedShell Bottom'>
    <footer class='Footer_1-a'>
      <section>
        <script>Handlebars.write('/hbs/footer/BottomNavi_1.hbs');</script>
      </section>
    </footer>
  </div>
</div>