<header class='Header_1-a FixedHeader'>
  <section data-seq='20230808134613154'>
    <script>Include('/hbs/component/TopActionBar_1-a.hbs');</script>
    <script>
      Include('/hbs/component/TabBar_1-a.hbs', {array: '신규|랭킹|추천|특가|마감임박', active:0});
    </script>
  </section>
</header>
{{!
<header>
  <div class='FixedBox'>
    <div class='FixedShell'>
      <script>Include('/hbs/component/TopActionBar_1-a.hbs');</script>
      <script>
        Include('/hbs/component/TabBar_1-a.hbs', {array: '신규|랭킹|추천|특가|마감임박', active:0});
      </script>
    </div>
  </div>
</header>
}}
{{!
<header data-only-view="MO" class="RR">
  <div style="height: var(--header-hei); display: flex; align-items: center; justify-content: center; gap: 0px">
    MO Header
  </div>
</header>
<header data-only-view="PC" class="RR">
  <div style="height: var(--header-hei); display: flex; align-items: center; justify-content: center; gap: 0px">
    PC Header
  </div>
</header>
}}