<header class='Header_1-a Sticky Top'>
  <section>
    <script>Handlebars.write('/hbs/header/TopActionBar_1.hbs');</script>
    <script>
      Handlebars.write('/hbs/component/TabBar_1.hbs', {array: '신규|랭킹|추천|특가|마감임박', active:0});
    </script>
  </section>
</header>