<header class='Header_2-d FixedHeader'>
  <section>
    <script>Handlebars.write('/hbs/component/TopActionBar_2-d.hbs');</script>
    <script>Handlebars.write('/hbs/component/ProductLink_1-a.hbs');</script>
  </section>
</header>