<header class='Header_1-a FixedHeader'>
  <section>
    <script>Include('/hbs/component/TopActionBar_1-a.hbs');</script>
    <script>
      Include('/hbs/component/TabBar_1-a.hbs', {array: '신규|랭킹|추천|특가|마감임박', active:0});
    </script>
  </section>
</header>